/* src/index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: "Nanum Pen Script", cursive; /* 공유해주신 폰트 파일 기준 */
  color: #333;
}

#root {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0 20px;
}