.DiaryList .menu_bar {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.DiaryList select {
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
}